* {
  box-sizing: border-box;
}

/* Styling the page */

body {
  background-color: #1F1F1F;
  color: #fff;
}

div.page {
 max-height: 80vh;
}

.header {
  text-align: center;
  padding-top: 15px;
}

form.search-bar {
  max-width: 350px;
  margin: 0 auto;
  padding: 15px;
}

.search-bar input {
  outline: none;
  margin-left: 5px;
}

h1>span {
  color: #FF0000;
}

/* main content */

.product-card {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

.card {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #888888;
}

.card-img {
  width: 70%;
  margin: 0 auto;
}

.card-text {
  color: #1F1F1F;
  font-weight: 500;
}

@media (max-width:576px) {
  form.search-bar input {
    width: 80%;
  }
}